<div class="reply-comment-card card">
    <div class="card-header">回复评论：</div>
    <div class="card-body pr-5">
        {{ form_start(replay_comment_form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(replay_comment_form) }}
        </div>

        <div class="form-group">
            {{ form_row(replay_comment_form.author) }}
        </div>
        <div class="form-group">
            {{ form_row(replay_comment_form.email) }}
        </div>
        <div class="form-group">
            {{ form_row(replay_comment_form.message) }}
        </div>
        <div class="form-group pl-5">
            {{ form_row(replay_comment_form.submit) }}
        </div>
        {{ form_end(replay_comment_form) }}
    </div>
</div>